<h1>Your Posts</h1>

<%= link_to 'Create Post', new_post_path %><br/><br/>

<% if @posts.count == 0 %>
  <p>You don't have any posts yet.</p>
<% else %>
  <% @posts.each do |post| %>
    <%= post.body %>
    <%= link_to 'View', post_path(post) %><br/><br/>
    <%= post.created_at.strftime("%B %e, %Y") %><br/><br/>
  <% end %><br/><br/>
<% end %>